.change-container {
  margin: 32px 0 16px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.training-plan-container .change-container {
  margin: 0;
}

.change-text {
  font-family: "Prosto One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.change-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.change-icon {
  width: 25px;
  height: 25px;
}

.train-plan-description-container {
  margin: 32px 0;
}

.training-plan-video-header {
  margin-bottom: 12px;
}

.video-play-icon-1 {
  left: 25%;
}

.video-play-icon-2 {
  left: 75%;
}

.change-training-btn-container {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 16px;
}

.training-task-btn {
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  background: #00ff6c;
  border-radius: 30px;
  font-family: "Prosto One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.ellipse-5 {
  bottom: -170px;
  right: 230px;
  transform: rotate(16.99deg);
}

.ellipse-6 {
  bottom: -40px;
  right: -50px;
  transform: matrix(0.73, 0.88, -0.53, 0.72, 0, 0);
}

.ellipse-7 {
  bottom: 190px;
  right: -200px;
  transform: matrix(0.98, 0.12, -0.2, 0.99, 0, 0);
}

.ellipse-8 {
  bottom: -170px;
  right: -90px;
  transform: matrix(0.98, 0.12, -0.2, 0.99, 0, 0);
}
